<div class="poke-style">

  <h2>Let's Create a new team!</h2>

  <form action="/teams" method="post">

    <div class="poke-box-column">

    <label>Name:</label>
    <input type="text" name="team[name]" placeholder="name">

    <label>Photo Url:</label>
    <input type="text" name="team[img_url]" placeholder="photo url">

    <input class="poke-button" type="submit" value = "Create team">

    </div>

  </form>

  <h3><a href="/teams">Back to teams</a></h3>

</div>
