<div class="poke-style">

  <h2>Let's Create a new Trainer!</h2>

  <form action="/trainers" method="post">

    <div class="poke-box-column">

    <label>Name:</label>
    <input type="text" name="trainer[name]" placeholder="name">

    <label>Spunk Level: </label>
    <input type="text" name="trainer[spunk]" placeholder="spunk">

    <label>Photo Url:</label>
    <input type="text" name="trainer[img_url]" placeholder="photo url">

    <input class="poke-button" type="submit" value = "Create Trainer">

    </div>

  </form>

  <h3><a href="/trainers">Back to Trainers</a></h3>

</div>
